
body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
 
    
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    height: 70px;
    z-index: 10;
    transition: transform 0.5s ease-in-out; 
    transform: translateY(0);
    
}

.navbar a {
    float: left;
    display: block;
    color: rgb(19, 19, 19);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color: #06BBCC;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    transform: translateY(-100%); 
    transition: none;
    z-index: 10;
}

.navbar.sticky.animate {
    transform: translateY(0); 
    transition: transform 0.5s ease-in-out; 
}
.logodiv{
    width: 50vw;
    display: flex;
    align-items: center;
    color:#06BBCC;
    font-size: 30px;
    margin-left: 20px;
    font-weight: bolder
}
.linksdiv{
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
}
.joinbtn{
    background-color: #06BBCC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {box-sizing: border-box}

.slideshow-container {
    background-color: rgb(31, 27, 53);
    margin-top: 300px;
    width: 100%;
    position: relative;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.mySlides {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mySlides.show {
    opacity: 1;
    visibility: visible;
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    vertical-align: middle;
}

.captions {
    text-align: left;
    color: #f2f2f2;
    font-size: 15px;
    width: 50vw;
    height: 70vh;
    position: absolute;
    bottom: 8px;
    top:20%;
    left: 30%;
    transform: translateX(-50%);
}

.tagline{
    color: #06BBCC;
    font-size: 20px;
    font-weight: bolder;
    
}

.bigtext{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.nav-button {
    position: absolute;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.navbuttons {
    color: #fff;
    position: absolute;
    top: 350px;
    right:70px ;
    background-color: #ffffff00;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.prev, .next {
    font-size: 18px;
    border: solid 1px #ffffff;
    padding: 10px;
    background-color: #ffffff00;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    width: 50px;
}

.prev:hover, .next:hover {
    background-color: #06BBCC;
    color: #fff;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #06BBCC;
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    z-index: 1000;
    
}
.captionsButtons{
    display: flex;
    justify-content: left;
    text-align: center;
    
    padding: 25px;
    
}
.captionsButton1{
    background-color: #06BBCC;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 150px;
}
.captionsButton2{
    background-color: white;
    color: black;
    padding: 20px;
    width: 150px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
   
}

.whys{
   
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.why{
    background-color: #06bbcc2d;
    width: 20vw;
    height: 300px;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}
.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.why i {
    font-size: 50px;
    color: #06BBCC;
    margin-bottom: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.whyTitle {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.whyDesc {
    font-size: 15px;
    color: #6f6f6f;
    margin-bottom: 20px;
    margin-inline: 20px;
    transition: color 0.3s ease;
}

.why:hover,
.why:hover i,
.why:hover .whyTitle,
.why:hover .whyDesc {
    transform: translateY(-8px);
    color: white;
    background-color: #06BBCC;
    transition: transform 0.5s ease, color 0.5s ease; 
}


.about{
    width: 90%;
    margin-left:5vw ;
    height: 400px;
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
}
.about img{
    width: 45%;
    height: 100%;
    object-fit: cover;
   
}
.aboutText{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.aboutDesc{
    font-size: 15px;
    color: #6f6f6f;
    margin-bottom: 20px;
    margin-inline: 20px;
}
.lists{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: left;

    justify-content: flex-start;
}
li{
    list-style-type: none;
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
    margin-right: 30px;
}
.aboutButton{
    background-color: #06BBCC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.categories{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.Title{
    color: #06BBCC;
    font-size: 25px;
    margin-bottom: -18px;

  
}
.Tagline{
    font-size: 40px;
    font-weight: bolder;
   
}
.cats{
    width: 85%;
    height: 500px;
display: flex;
   
}
.rightcat{
    width: 40%;
    height: 500px;
margin-left: 1.5%;
   
}
.leftcat{
    width: 58.5%;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
   
  
}
.leftcattop{
    width: 100%;
    height: 48%;
  

}
.leftcatbottom{
    
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftcatbottom1{
    
    width: 48.8%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.leftcatbottom2{
    
    width: 48.8%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.catImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.catImage:hover {
    transform: scale(1.1);
}
.leftcattop, .leftcatbottom1, .leftcatbottom2, .rightcat {
    position: relative;
    overflow: hidden;
}
.image-info {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background: white;
    padding: 7px;
    text-align: center;

}
.image-info p {
    margin: 5px;
   
}
.image-info p:first-child {
    font-weight: bold;
}

.courses{
    margin-top: 400px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.courseslist{
    
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.course{
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: rgba(64, 224, 208, 0.16)
}
.courseImage{
    width: 100%;
    height: 55%;
   
    overflow: hidden;
    position: relative;
   
}
.courseImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.courseImage img:hover{
    transform: scale(1.1);
}
.coursebuttons{
 position: absolute;
    bottom: 10px;
    width: 100%;
   
    padding: 7px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.coursebuttons div {
    display: flex;
    overflow: hidden;
    border-radius: 70px;
    
}
.coursebuttons p{
    margin: 0.5px;
    font-size: 12px;
    font-weight: bolder;
    background-color: #06BBCC;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.coursebuttons p:hover{
    background-color: #02c2d3;
    color: white;
    
    
}
.courseprice{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}


.rating{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #6f6f6f;
    margin-bottom: 20px;
}
.rating i{
    font-size: 16px;
    color: #06BBCC;
    
    
}
.instructors{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.instructorslist{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.instructor{
    width: 23.5%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: rgba(64, 224, 208, 0.123)
}
.instructorimage{
    width: 100%;
    height: 70%;
    
    overflow: hidden;
    position: relative;
   
}
.instructorimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.instructorimage img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .navbar {
        
        
        position: fixed;
       justify-content: space-between;
        width: 100%;
        transition: transform 0.5s ease-in-out; 
    }
   
    .navbar a {
        float: none;
        display: block;
        text-align: left;
        font-size: 0.8em; 
    }
    
    
    .linksdiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        display: none;
    }
   
    .hamburger {
        display: block;
        margin-right: 20px;
    }
    .joinbtn{
        display: none;
    }
    
    .navbar.open {
        height: 50vh;
    }
.bigtext{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;}
    .whys{
        flex-direction: column;
        width: 99%;
        top: 20px;
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .why{
        width: 80%;
        height: 800px;
        margin-bottom: 20px;
    }
    .about{
        margin-top: 400px;
        flex-direction: column;
     
        margin-bottom: 200px;
        text-align: center;
        width: 90%;    
    }
    .about img{
        width: 100%;
        height: 100%;
    }
    .aboutButton{
        margin-left: -20px;
    }
    .Title{
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .Tagline{
        font-size: 25px;
        font-weight: bolder;
        width: 100%;
        text-align: center;
    }
    .aboutDesc{
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin-left: -5px;
    }

    .lists{
        display:none;
        
        
    }
    .cats {
        flex-direction: column;
        width: 100%;
        
    }
    .leftcat {
        width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
    .leftcatbottom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .leftcatbottom2{
        width: 100%;
        height: 100%;
       background-color: #6f6f6f;
    }
    .leftcatbottom1{
        width: 100%;
        height: 100%;
        background-color: #6f6f6f;
    }
    .rightcat {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .courses{
        margin-top: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .courseslist{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }
    .course{
        width: 90%;
        height: 150%;
        margin-bottom: 20px;
    }
    .instructorslist{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .instructor{
        width: 90%;
        height: 150%;
        margin-bottom: 20px;
    }
   
    
}